<!DOCTYPE html>
<html>
<head>
	<title>Thématic</title>

    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>

	<div id="main">

        <fbpage>

        </fbpage>

    </div>


    <!--
        Templates.
    -->

    <template id="fbpage">
        <div class="container">

            <div class="header">
                <vue-header :page_name_displayed="page_name_displayed"></vue-header>
            </div>


            <div class="content">
		<globalstats :globalstats="globalstats"></globalstats>
                <clusters :clusters="clusters"></clusters>
            </div>

        </div>

    </template>



    <template id="vue-header">
	<div class="header-wrapper">
	    <a href="index.html">
		<div class="header-arrow material-icons" v-on:click="back">arrow_back</div>
	    </a>
	    <div class="header-title">Analyzing {{ page_name_displayed }}</div>
	</div>
    </template>


    <template id="globalstats">
	<div class="globalstats-wrapper cluster">
	    <div class="globalstats-header cluster-title">Page statistics</div>
	    <div class="globalstats-values cluster-stats">
                <table>
                    <tr><td>Posts:</td>  <td class="globalstats-table-values">{{ globalstats.messages }}</td>                                         </tr>
                    <tr><td>Fans:</td>      <td class="globalstats-table-values">{{ globalstats.fan_count }}</td>                                        </tr>
                    <tr><td>Likes:</td>     <td class="globalstats-table-values">{{ globalstats.likes_avg }} +- {{ globalstats.likes_stdev }}</td>       </tr>
                    <tr><td>Comments:</td>  <td class="globalstats-table-values">{{ globalstats.comments_avg }} +- {{ globalstats.comments_stdev }}</td> </tr>
                    <tr><td>Shares:</td>    <td class="globalstats-table-values">{{ globalstats.shares_avg }} +- {{ globalstats.shares_stdev }}</td>     </tr>
                </table>
	    </div>
	    <div>
		<span v-on:click="toggleGraph" class="toggle-text toggle-graph">
		    <a href="#" v-on:click.prevent=""> {{ showGraph ? "[-] Hide" : "[+] Show" }} rough topics distribution.</a>
		</span>
	    </div>
	    <div v-if="showGraph"><img v-bind:src="globalstats.graph_uri" class="graph" /></div>
	</div>
    </template>

    <template id="clusters">

        <div class="clusters">

            <div v-for="i in clusters" class="cluster">
                <cluster :item="i"></cluster>
            </div>

        </div>

    </template>



    <template id="cluster">

        <div >

            <div class="cluster-header">

                <div class="cluster-title" v-bind:id="item.number">Topic {{ item.number }}</div>

                <div class="cluster-stats">
                    <div class="cluster-stats-header">Keywords</div>
                    <div class="cluster-stats-values">
                        <div v-for="i in item.important" class="word">{{ i }}</div>
                    </div>
                    <div class="cluster-stats-header">Summary</div>
		    <div class="cluster-stats-values">
			<ol>
			    <li v-for="i in item.summary">{{ i }}</li>
			</ol></div>
                    <div class="cluster-stats-header">Statistics</div>
		    <div class="cluster-stats-values">
			{{ item.messages.length }} posts.
			Likes: {{ item.likes_avg }} +- {{ item.likes_stdev }},
			Comments: {{ item.comments_avg }} +- {{ item.comments_stdev }},
			Shares: {{ item.shares_avg }} +- {{ item.shares_stdev }}.
			Roughly from {{ item.dates_start | formatDate }} to {{ item.dates_end | formatDate }}.
		    </div>
			<!-- TODO: when was most of the posts written -->
                </div>

            </div>  <!-- cluster-header -->

	    <span v-on:click="toggleMessages" class="toggle-text">
		<a v-bind:href="clusterlink" v-on:click.prevent="">{{ showMessages ? "[-] Hide" : "[+] Show" }} posts.</a>
	    </span>

            <div v-if="showMessages" class="cluster-messages">

                <ol class="messages">
                    <li v-for="i in item.messages">
			{{ i[0] }} <br /><span class="message-published">Published: {{ i[1] | formatDate }}.</span>
                    </li>
                </ol>

            </div>

        </div>
    </template>



    <template id="word">



    </template>



	<script src="js/vue.js"></script>
	<script src="js/vue-resource.min.js"></script>
	<script src="js/script.js"></script>

</body>
</html>
