<!DOCTYPE html>
<html>
<head>
	<title>fb-analytics</title>

    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="main">

        <fbpage>

        </fbpage>

    </div>


    <!--
        Templates.
    -->

    <template id="fbpage">
        <div class="container">

            <div class="header">
                <vue-header :pagename="pagename"></vue-header>
            </div>


            <div class="content">
		<globalstats :globalstats="globalstats"></globalstats>
                <clusters :clusters="clusters"></clusters>
            </div>

        </div>

    </template>



    <template id="vue-header">
	<div class="header-wrapper">
	    <div class="header-arrow material-icons" v-on:click="back">arrow_back</div>
	    <div class="header-title">Analyzing {{ pagename }}</div>
	</div>
    </template>


    <template id="globalstats">
	<div class="globalstats-wrapper cluster">
	    <div class="globalstats-header cluster-title">Page statistics</div>
	    <div class="globalstats-values cluster-stats">
		<div>{{ globalstats.messages }} messages</div>
		<div>Likes: {{ globalstats.likes_avg }} +- {{ globalstats.likes_stdev }},</div>
		<div>Comments: {{ globalstats.comments_avg }} +- {{ globalstats.comments_stdev }},</div>
		<div>Shares: {{ globalstats.shares_avg }} +- {{ globalstats.shares_stdev }}.</div>
	    </div>
	    <div><span v-on:click="toggleGraph" class="toggle-text toggle-graph">{{ showGraph ? "[-] Hide" : "[+] Show" }} rough topics distribution.</span></div>
	    <div v-if="showGraph"><img v-bind:src="globalstats.graph_uri" class="graph" /></div>
	</div>
    </template>

    <template id="clusters">

        <div class="clusters">

            <div v-for="i in clusters" class="cluster">
                <cluster :item="i"></cluster>
            </div>

        </div>

    </template>



    <template id="cluster">

        <div >

            <div class="cluster-header">

                <div class="cluster-title">Topic {{ item.number }}</div>

                <div class="cluster-stats">
                    <div class="cluster-stats-header">Most important words</div>
                    <div class="cluster-stats-values">
                        <div v-for="i in item.important" class="word">{{ i }}</div>
                    </div>
                    <div class="cluster-stats-header">Most common words</div>
                    <div class="cluster-stats-values">
                        <div v-for="i in item.common" class="word">{{ i }}</div>
                    </div>
                    <div class="cluster-stats-header">Messages statistics</div>
		    <div class="cluster-stats-values">
			{{ item.messages.length }} messages.
			Likes: {{ item.likes_avg }} +- {{ item.likes_stdev }},
			Comments: {{ item.comments_avg }} +- {{ item.comments_stdev }},
			Shares: {{ item.shares_avg }} +- {{ item.shares_stdev }}.
			Roughly from {{ item.dates_start | formatDate }} to {{ item.dates_end | formatDate }}.
		    </div>
			<!-- TODO: when was most of the messages written -->
                </div>

            </div>  <!-- cluster-header -->

            <span v-on:click="toggleMessages" class="toggle-text">{{ showMessages ? "[-] Hide" : "[+] Show" }} messages.</span>

            <div v-if="showMessages" class="cluster-messages">

                <ol class="messages">
                    <li v-for="i in item.messages">
			{{ i[0] }} <br /><span class="message-published">Published: {{ i[1] | formatDate }}.</span>
                    </li>
                </ol>

            </div>

        </div>
    </template>



    <template id="word">



    </template>



	<script src="js/vue.js"></script>
	<script src="js/vue-resource.min.js"></script>
	<script src="js/script.js"></script>

</body>
</html>
